*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
body{
  display: flex;
  justify-content: center;
  height: 100vh;
}
.form-section{
  margin-top: 3rem;
  text-align: center;
  width: 500px;
  min-height: 400px;
}
.form-section h2{
  text-transform: uppercase;
  margin: 40px 0;
}
.form{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 0 3rem 0;
}
.form input{
  width: 50px;
  outline: none;
  border: none;
  font-size: 1.2rem;
  background-color: rgb(199, 225, 248);
}
.generate-btn{
  border: none;
  outline: none;
  background-color: rgb(110, 178, 237);
  text-transform: uppercase;
  padding: 3px 10px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  color: #fff;
}
.lorem-text p{
  margin:0 0 2rem 0;
  font-weight: 600;
}